.nav-link.active {
    font-weight: 600;
    color: #fff
}

.veritical-divider-2rem {
    width: 100%;
    height: 2rem;
}

.veritical-divider-1rem {
    width: 100%;
    height: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.login-page {
    width: 100%;
    height: 70vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

.form-right i {
    font-size: 100px;
}

/*
    Overlay Loader
*/

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 10000;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


/*
    Search Suggestion Bar
*/

.list-autocomplete {
    padding: 0;
}

    .list-autocomplete em {
        font-style: normal;
        background-color: #e1f2f9;
    }

.hasNoResults {
    color: #aaa;
}

.hasNoResults {
    display: block;
    padding: 30px 15px;
}

.hasNoResults {
    color: #aaa;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    line-height: 30px;
}

.dropdown-menu hr {
    margin: 0;
}
