.nav-link.active {
    font-weight: 600;
    color: #fff
}

.veritical-divider-2rem {
    width: 100%;
    height: 2rem;
}

.veritical-divider-1rem {
    width: 100%;
    height: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.login-page {
    width: 100%;
    height: 70vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

.form-right i {
    font-size: 100px;
}